body{
    margin:0;
    padding: 0;
    background-color: lightgrey;
}
#content{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.card{
    position: relative;
    width: 25%;
    height: 350px;
    margin: calc(25% / 6);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:20px;
}

.card .circ{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.card .circ:before{
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
    clip-path: circle(30% at center);
    transition: all .25s linear;
}

.card:nth-of-type(2) .circ::before{
    background-color: goldenrod;
}

.card:nth-of-type(3) .circ::before{
    background-color: green;
}

.card:hover .circ:before{
    clip-path: circle(100% at center);
    background-color: blue;
}

.card:hover:nth-of-type(2) .circ:before{
    background-color: gainsboro;
}

.card:hover:nth-of-type(3) .circ:before{
    background-color: violet;
}

.card img{
    position: absolute;
    height: 70%;
    width: auto;
    border-radius: 20px;
    border: 4px solid black;
    transition: all .25s linear;
}

.card:hover img{
    transform: translate(100%) scale(150%);
}

.card:hover:nth-of-type(2) img{
    transform: translate(-100%) scale(150%);
}

.card .content{
    position: relative;
    left: 0;
    top: 0;
    width:50%;
    text-align: justify;
    font-size: .75em;
    padding: 10px 20px 40px 20px;
    transition: all .25s linear;
    opacity: 0;
}

.card:hover .content{
    left: -20%;
    opacity: 1;
}
.card:hover:nth-of-type(2) .content{
    left: 20%;
    opacity: 1;
}

.card .content h2{
    text-transform: uppercase;
}
.card .content button{
    position: relative;
    left:0;
    top:0;
    text-transform: uppercase;
    font-size: 1.5em;
    border-radius: .3em;
    border: .1em solid black;
    padding: .4em;
    background: linear-gradient(10deg, blue, 90deg, red );
}