<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/page_character.css">    
    <title>Bohater</title>
</head>
<body>
    <!-- <img src="../../Resources/Images/wallpaper.jpg" class="bg"> -->
    <div class="bg effect"></div>
    <div class="effect">
        <div id="particles-js"></div>
    </div>
    <section>
        <h1>Strona bohatera</h1>
    </section>
</body>
<script src="/static/js/particles.js"></script>
<script src="/static/js/characterPage.js"></script>
</html>