{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block main %}
<h1>Witaj w sektorze Koprulu!</h1>
<div>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus natus dolorem distinctio perferendis eligendi quos eius soluta! Vero illo sapiente neque, animi ad exercitationem saepe ipsam dolorem fugit, asperiores at?</p>
    <p>A czy Ty odnajdziesz się w tym opętanym wojną, starożytnymi przepowiedniami oraz korupcją świecie? Śmiało, miejsce na Ciebie czeka. Zadaj sobie tylko jedno pytanie. Kim tak na prawdę jesteś?</p>
    <div class="button primary">Rozpocznij sesję</div>
    <div class="button primary">Czytaj więcej</div>

</div>
{% endblock %}