html{
	font-size: 15pt;
	color: white;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body
{
	margin: 0;
	background-color:#393B45;
	height: 110vh;
}

:root{
	--tile1: #03071E;
	--tile2: #370617;
	--tile3: #6A040F;
	--tile4: #9D0208;
	--tile5: #D00000;
	--tile6: #DC2F02;
	--tile7: #E85D04;
	--tile8: #F48C06;
	--tile9: #FAA307;
	--tile10: #FFBA08;

	
}

#container
{
	display: flex;
	position: relative;
	justify-content: center;
	height: inherit;
}

header{
	width: 700px;

}

@media (min-width: 768px)/*Tablet*/{
						
						html{
		font-size: 16pt;
	}
	
	header{
		height: 200px;
	}
	
}

@media (min-width: 992px)/*PC*/{

	html{
		font-size: 16pt;
	}

	#content{
		width: 950px;
	}

	header{
		width: inherit;
		height: 200px;
		display: flex;
		flex-direction: row;
		align-items: left;
		justify-content: space-between;
	}

	header .data{
		display: flex;
		flex-direction: column;
		align-items: left;
		justify-content: center;

	}
	
	header .data div{
		color:#E2A43A;
		font-family: 'Big Shoulders Display';
		font-size: 40pt;
	}

	header .data :last-child{
		color:white;
		font-size: 36pt;
	}

	#tiles{
		width:100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		position: relative;
		height: 650px;
	}

	.col{
		display: flex;
		flex-direction: column;
		position: relative;
		
	}
	
	#tiles > .col:first-child{
		display: flex;
		flex-basis: 350px;
		max-width: 400px;
		flex-grow: 1;
		justify-content: space-between;

	}

	#tiles > .col:last-child{
		display: flex;
		flex-basis: 450px;
		flex-grow: 1;
		max-width: 550px;
		justify-content: space-between;
	}

	/*.col .col{
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		align-content: center;
		background-color: #5D6778;
	}*/
	.row{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.tile{
		display: flex;
		position: relative;
		align-items: center;
		justify-content: center;
		width:180px;
		height: 110px;
		font-size: 14pt;
		transition: scale .2s linear, transform .3s linear .2s, box-shadow .3s linear .4s;
	}

	.tile:after{
		position: absolute;
		content:'';
		width: 50%;
		height: 100%;
		top: 0;
		left: 50%;
		background-color: black;
		opacity: .1;
		filter: blur(5px);
		pointer-events: none;
		
	}


	.tile:hover{
		scale: 1.1;
		transform: translate(0, -5px);
		box-shadow: 2px 5px 20px 1px var(--tile10);
	}

	.tile div{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: 15pt;
	}

	.tile div i:before{
		font-size: 30pt;

	}

	.tile a{
		text-decoration: none;
		color: white;
	}

	.q_tile{
		display: flex;
		align-items: center;
		height: 200px;
		text-align: center;
	}

	.quote p{
		margin:0;
	}
	
	.quote p:first-child{
		padding: 10px 30px;
	}


	.quote p span{
		font-size: 2em;
	}

	.quote p:last-child{
		text-align: right;
		padding-right: 10%;
	}

	.col1 .tile{
		margin: 15px 15px 15px 0;
	}
	
	.col2 .tile{
		margin: 15px 0 15px 15px;
	}
	

	.tile1{
		background: linear-gradient(45deg, var(--tile4), var(--tile9));
	}

	.tile2{
		background: linear-gradient(45deg, var(--tile5), var(--tile10));

	}

	.tile3{
		background: linear-gradient(45deg, var(--tile3), var(--tile8));

	}

	.tile4{
		background: linear-gradient(45deg, var(--tile1), var(--tile3));

	}


	main{
		width: auto;
		position: relative;
		height: 450px;
		margin: 15px; 
		background: linear-gradient(45deg, var(--tile7), var(--tile10));
	}

	main:before{
		content: '';
		position: absolute;
		left: 1%;
		top: 1%;
		width:98%;
		height: 98%;
		background-color: rgba(255, 255, 255, .3);
		pointer-events: none;
	}
	main p{
		padding: 40px;
		z-index: 1;
		margin: 15px 0;
	}

	.media a{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 118.75px;
		height: 150px;
		margin: 15px;
		margin-bottom: 0;
		color: white;
	}
	
	.media a:nth-child(1){
		background: radial-gradient( circle at 0 50%, var(--tile3), var(--tile1));
	}

	.media a:nth-child(2){
		background: radial-gradient( circle at 0 50%, var(--tile5), var(--tile3));
	}

	.media a:nth-child(3){
		background: radial-gradient( circle at 0 50%, var(--tile7), var(--tile5));
	}

	.media a:nth-child(4){
		background: radial-gradient( circle at 0 50%, var(--tile9), var(--tile7));
	}

	.media a:hover{
		animation: mediaCover .4s ease;
		box-shadow: 2px 5px 20px 1px var(--tile10);

	}

	.media a i:before{
		transition: transform .4s linear;
		transform: rotate(0deg);
	}

	.media a:hover i:before{
		transform: rotate(360deg);
	}
	
	@keyframes mediaCover {
	0%{
		transform: translate(0, 0);
	}
	50%{
		transform: translate(0, -15px);
	}
	100%{
		transform: translate(0, 0);
	}
	}

	footer{
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 15vh;
		background-color: #03071E;
	}

}

@media (min-width: 1200)/*Huge devices*/{

	html{
		font-size: 16pt;
	}

	header{
		height: 200px;
	}
	
	

}
