{% extend base.html %}

{% block main %}
<h1>Logowanie</h1>
<form action="" method = "get">
    <label for="email">Email</label>    
    <input type="email" name="email" id="email" placeholder = "Email" required>

    <label for="name">Nazwa użytkownika</label>
    <input type="text" name="username" id="name" placeholder="Nazwa użytkownika" required pattern = "[A-Za-z][A-Za-z0-9_.]+" minlength ="8" maxlength="32">

    <label for="password">Hasło</label>
    <input type="password" name="password" id="password" minlength="8" maxlength="64" required>

    <button>Zaloguj</button>
</form>
{% endblock %}